In [1]:
#importing libraries

import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [2]:
file_path = "C:/Users/prash/Downloads/customers-1000-dataset.csv"
df = pd.read_csv(file_path)

print("Original Data:")

print(df.head())

Original Data:
   Index      Customer Id First Name Last Name                      Company  \
0      1  dE014d010c7ab0c     Andrew   Goodman                Stewart-Flynn
1      2  2B54172c8b65eC3      Alvin      Lane  Terry, Proctor and Lawrence
2      3  d794Dd48988d2ac      Jenna   Harding                 Bailey Group
3      4  3b3Aa4aCc68f3Be   Fernando      Ford                 Moss-Maxwell
4      5  D60df62ad2ae41E       Kara     Woods              Mccarthy-Kelley

               City           Country                Phone 1  \
0       Rowlandberg             Macao      846-790-4623x4715
1          Bethside  Papua New Guinea     124-597-8652x05682
2      Moniquemouth             China     (335)987-3085x3780
3        Leeborough             Macao          (047)752-3122
4  Port Jacksonland             Nepal  +1-360-693-4419x19272

               Phone 2                          Email Subscription Date  \
0  (422)787-2331x71127  marieyates@gomez-spencer.info        2021-07-26
1    321.441.0588x6218          alexandra86@mccoy.com        2021-06-24
2     001-680-204-8312        justincurtis@pierce.org        2020-04-05
3    048.779.5035x9122            adeleon@hubbard.org        2020-11-29
4         163-627-2565          jesus90@roberson.info        2022-04-22

                       Website
0         http://www.shea.biz/
1    http://www.pena-cole.com/
2  http://www.booth-reese.biz/
3       http://www.hebert.com/
4          http://merritt.com/

In [3]:
# Transformation 1: Rename columns to lowercase
df.columns = df.columns.str.upper()
print(df.head())

   INDEX      CUSTOMER ID FIRST NAME LAST NAME                      COMPANY  \
0      1  dE014d010c7ab0c     Andrew   Goodman                Stewart-Flynn
1      2  2B54172c8b65eC3      Alvin      Lane  Terry, Proctor and Lawrence
2      3  d794Dd48988d2ac      Jenna   Harding                 Bailey Group
3      4  3b3Aa4aCc68f3Be   Fernando      Ford                 Moss-Maxwell
4      5  D60df62ad2ae41E       Kara     Woods              Mccarthy-Kelley

               CITY           COUNTRY                PHONE 1  \
0       Rowlandberg             Macao      846-790-4623x4715
1          Bethside  Papua New Guinea     124-597-8652x05682
2      Moniquemouth             China     (335)987-3085x3780
3        Leeborough             Macao          (047)752-3122
4  Port Jacksonland             Nepal  +1-360-693-4419x19272

               PHONE 2                          EMAIL SUBSCRIPTION DATE  \
0  (422)787-2331x71127  marieyates@gomez-spencer.info        2021-07-26
1    321.441.0588x6218          alexandra86@mccoy.com        2021-06-24
2     001-680-204-8312        justincurtis@pierce.org        2020-04-05
3    048.779.5035x9122            adeleon@hubbard.org        2020-11-29
4         163-627-2565          jesus90@roberson.info        2022-04-22

                       WEBSITE
0         http://www.shea.biz/
1    http://www.pena-cole.com/
2  http://www.booth-reese.biz/
3       http://www.hebert.com/
4          http://merritt.com/

In [4]:
# Transformation 2: Fill missing values in a specific column
df['COUNTRY'] = df['COUNTRY'].fillna(df['COUNTRY'].mode())
print(df.head(20))

    INDEX      CUSTOMER ID FIRST NAME LAST NAME  \
0       1  dE014d010c7ab0c     Andrew   Goodman
1       2  2B54172c8b65eC3      Alvin      Lane
2       3  d794Dd48988d2ac      Jenna   Harding
3       4  3b3Aa4aCc68f3Be   Fernando      Ford
4       5  D60df62ad2ae41E       Kara     Woods
5       6  8aaa5d0CE9ee311    Marissa    Gamble
6       7  73B22Ac8A43DD1A      Julie    Cooley
7       8  DC94CCd993D311b     Lauren     Villa
8       9  9Ba746Cb790FED9      Emily    Bryant
9      10  aAa1EDfaA70DA0c      Marie   Estrada
10     11  bf104C25d0BA4E1    Nichole    Cannon
11     12  bf2fA37cbAd7dDc    Bernard    Ritter
12     13  4fa8ffcdBbf53bB     Darryl    Archer
13     14  aBd960429ecd363       Ryan        Li
14     15  2a0c691Ce19C6f3      Vicki     Nunez
15     16  B58fecf82f997Dd       Sean  Townsend
16     17  41d0201DcF028b5     Sophia    Mathis
17     18  B1A1b09CD5C3b6a      Helen     Potts
18     19  ba5a73D210dCcE4      Joann    Finley
19     20  F6cD561cecdfA6d     Thomas     Walsh

                          COMPANY                CITY               COUNTRY  \
0                   Stewart-Flynn         Rowlandberg                 Macao
1     Terry, Proctor and Lawrence            Bethside      Papua New Guinea
2                    Bailey Group        Moniquemouth                 China
3                    Moss-Maxwell          Leeborough                 Macao
4                 Mccarthy-Kelley    Port Jacksonland                 Nepal
5                 Cherry and Sons           Webertown                 Sudan
6            Yu, Norman and Sharp         West Sandra                 Japan
7      French, Travis and Hensley         New Yolanda                  Fiji
8      Moon, Strickland and Combs  East Normanchester            Seychelles
9                         May Inc            Welchton  United Arab Emirates
10                  Rios and Sons          West Devon               Burundi
11              Bradford and Sons      West Francisco                 Palau
12                    Kerr-Cherry            Holtfurt                Uganda
13         Hooper, Cross and Holt          Batesville         Liechtenstein
14  Leonard, Galvan and Blackburn      Barbaraborough                 Haiti
15                   Preston-Sosa       Velasquezberg                  Iran
16              Richard-Velasquez           Toddhaven           Switzerland
17   Rangel, Livingston and Patel         Douglasland            Seychelles
18                     Harvey PLC        Barrettshire            Montserrat
19                    Best-Thomas          Roblesport              Kiribati

                  PHONE 1              PHONE 2  \
0       846-790-4623x4715  (422)787-2331x71127
1      124-597-8652x05682    321.441.0588x6218
2      (335)987-3085x3780     001-680-204-8312
3           (047)752-3122    048.779.5035x9122
4   +1-360-693-4419x19272         163-627-2565
5   001-645-334-5514x0786        (751)980-3163
6    +1-675-243-7422x9177        (703)337-5903
7        081.226.1797x647     186.540.9690x605
8      430-401-5228x35091         115-835-3840
9        001-648-790-9244         973-767-3611
10             0647787401         139.476.1068
11           292.313.1902        (065)075-0554
12          (389)437-1716     092.364.7349x593
13  001-119-787-0125x4500     001-477-254-3645
14          (217)474-0312  (098)195-0840x79579
15       001-534-283-5153           5786415664
16   001-858-762-7896x916   274-147-4185x15182
17          (140)862-2659      +1-875-299-7166
18      (941)715-8720x950     155.433.4824x955
19           679.326.0724     001-305-038-6009

                               EMAIL SUBSCRIPTION DATE  \
0      marieyates@gomez-spencer.info        2021-07-26
1              alexandra86@mccoy.com        2021-06-24
2            justincurtis@pierce.org        2020-04-05
3                adeleon@hubbard.org        2020-11-29
4              jesus90@roberson.info        2022-04-22
5           katieallison@leonard.com        2021-11-17
6          priscilla88@stephens.info        2022-03-26
7   colehumphrey@austin-caldwell.com        2020-08-14
8         buckyvonne@church-lutz.com        2020-12-30
9            christie44@mckenzie.biz        2020-09-03
10         blandry@henson-harris.biz        2021-04-26
11     tammiepope@arroyo-baldwin.com        2022-01-19
12   woodalejandro@skinner-sloan.biz        2022-04-18
13                  lmassey@duke.com        2021-03-06
14                zgrant@sweeney.com        2022-01-30
15               lkline@maxwell.info        2020-05-30
16       brockmason@faulkner-may.com        2020-01-23
17      carrollmia@donovan-keith.com        2021-07-27
18            gabriela86@sampson.com        2022-04-11
19         timcoleman@frank-king.org        2020-09-11

                            WEBSITE
0              http://www.shea.biz/
1         http://www.pena-cole.com/
2       http://www.booth-reese.biz/
3            http://www.hebert.com/
4               http://merritt.com/
5           http://www.kaufman.org/
6      http://www.sexton-chang.com/
7             https://www.kerr.com/
8                http://grimes.com/
9          https://www.salinas.net/
10         http://www.humphrey.org/
11              http://sellers.biz/
12         https://www.daniels.com/
13                http://nunez.com/
14            https://reynolds.com/
15           http://www.vargas.biz/
16           http://www.vaughn.com/
17  http://www.kennedy-edwards.biz/
18          http://www.harrell.com/
19             http://www.kane.com/

In [16]:
# Transformation 3: Create a new column based on existing data
df['FULLNAME'] = df['FIRST NAME'] + df['LAST NAME']
df['FULLNAME'].head()

0    AndrewGoodman
1        AlvinLane
2     JennaHarding
3     FernandoFord
4        KaraWoods
Name: FULLNAME, dtype: object

In [5]:
# Transformation 4:Add a new column 'Salary' with random values between 30000 and 100000
df['SALARY'] = np.random.randint(30000, 100000, size=len(df))
print(df.head(20))

    INDEX      CUSTOMER ID FIRST NAME LAST NAME  \
0       1  dE014d010c7ab0c     Andrew   Goodman
1       2  2B54172c8b65eC3      Alvin      Lane
2       3  d794Dd48988d2ac      Jenna   Harding
3       4  3b3Aa4aCc68f3Be   Fernando      Ford
4       5  D60df62ad2ae41E       Kara     Woods
5       6  8aaa5d0CE9ee311    Marissa    Gamble
6       7  73B22Ac8A43DD1A      Julie    Cooley
7       8  DC94CCd993D311b     Lauren     Villa
8       9  9Ba746Cb790FED9      Emily    Bryant
9      10  aAa1EDfaA70DA0c      Marie   Estrada
10     11  bf104C25d0BA4E1    Nichole    Cannon
11     12  bf2fA37cbAd7dDc    Bernard    Ritter
12     13  4fa8ffcdBbf53bB     Darryl    Archer
13     14  aBd960429ecd363       Ryan        Li
14     15  2a0c691Ce19C6f3      Vicki     Nunez
15     16  B58fecf82f997Dd       Sean  Townsend
16     17  41d0201DcF028b5     Sophia    Mathis
17     18  B1A1b09CD5C3b6a      Helen     Potts
18     19  ba5a73D210dCcE4      Joann    Finley
19     20  F6cD561cecdfA6d     Thomas     Walsh

                          COMPANY                CITY               COUNTRY  \
0                   Stewart-Flynn         Rowlandberg                 Macao
1     Terry, Proctor and Lawrence            Bethside      Papua New Guinea
2                    Bailey Group        Moniquemouth                 China
3                    Moss-Maxwell          Leeborough                 Macao
4                 Mccarthy-Kelley    Port Jacksonland                 Nepal
5                 Cherry and Sons           Webertown                 Sudan
6            Yu, Norman and Sharp         West Sandra                 Japan
7      French, Travis and Hensley         New Yolanda                  Fiji
8      Moon, Strickland and Combs  East Normanchester            Seychelles
9                         May Inc            Welchton  United Arab Emirates
10                  Rios and Sons          West Devon               Burundi
11              Bradford and Sons      West Francisco                 Palau
12                    Kerr-Cherry            Holtfurt                Uganda
13         Hooper, Cross and Holt          Batesville         Liechtenstein
14  Leonard, Galvan and Blackburn      Barbaraborough                 Haiti
15                   Preston-Sosa       Velasquezberg                  Iran
16              Richard-Velasquez           Toddhaven           Switzerland
17   Rangel, Livingston and Patel         Douglasland            Seychelles
18                     Harvey PLC        Barrettshire            Montserrat
19                    Best-Thomas          Roblesport              Kiribati

                  PHONE 1              PHONE 2  \
0       846-790-4623x4715  (422)787-2331x71127
1      124-597-8652x05682    321.441.0588x6218
2      (335)987-3085x3780     001-680-204-8312
3           (047)752-3122    048.779.5035x9122
4   +1-360-693-4419x19272         163-627-2565
5   001-645-334-5514x0786        (751)980-3163
6    +1-675-243-7422x9177        (703)337-5903
7        081.226.1797x647     186.540.9690x605
8      430-401-5228x35091         115-835-3840
9        001-648-790-9244         973-767-3611
10             0647787401         139.476.1068
11           292.313.1902        (065)075-0554
12          (389)437-1716     092.364.7349x593
13  001-119-787-0125x4500     001-477-254-3645
14          (217)474-0312  (098)195-0840x79579
15       001-534-283-5153           5786415664
16   001-858-762-7896x916   274-147-4185x15182
17          (140)862-2659      +1-875-299-7166
18      (941)715-8720x950     155.433.4824x955
19           679.326.0724     001-305-038-6009

                               EMAIL SUBSCRIPTION DATE  \
0      marieyates@gomez-spencer.info        2021-07-26
1              alexandra86@mccoy.com        2021-06-24
2            justincurtis@pierce.org        2020-04-05
3                adeleon@hubbard.org        2020-11-29
4              jesus90@roberson.info        2022-04-22
5           katieallison@leonard.com        2021-11-17
6          priscilla88@stephens.info        2022-03-26
7   colehumphrey@austin-caldwell.com        2020-08-14
8         buckyvonne@church-lutz.com        2020-12-30
9            christie44@mckenzie.biz        2020-09-03
10         blandry@henson-harris.biz        2021-04-26
11     tammiepope@arroyo-baldwin.com        2022-01-19
12   woodalejandro@skinner-sloan.biz        2022-04-18
13                  lmassey@duke.com        2021-03-06
14                zgrant@sweeney.com        2022-01-30
15               lkline@maxwell.info        2020-05-30
16       brockmason@faulkner-may.com        2020-01-23
17      carrollmia@donovan-keith.com        2021-07-27
18            gabriela86@sampson.com        2022-04-11
19         timcoleman@frank-king.org        2020-09-11

                            WEBSITE  SALARY
0              http://www.shea.biz/   76823
1         http://www.pena-cole.com/   55433
2       http://www.booth-reese.biz/   55990
3            http://www.hebert.com/   84793
4               http://merritt.com/   77800
5           http://www.kaufman.org/   85278
6      http://www.sexton-chang.com/   32297
7             https://www.kerr.com/   79089
8                http://grimes.com/   37296
9          https://www.salinas.net/   77743
10         http://www.humphrey.org/   68960
11              http://sellers.biz/   34349
12         https://www.daniels.com/   88492
13                http://nunez.com/   75007
14            https://reynolds.com/   70968
15           http://www.vargas.biz/   32633
16           http://www.vaughn.com/   67403
17  http://www.kennedy-edwards.biz/   78882
18          http://www.harrell.com/   58156
19             http://www.kane.com/   35299

In [6]:
# Transformation 5: Filter rows where a condition is met
df = df[df['COUNTRY'] =="China"]  
print(df.head(7))

     INDEX      CUSTOMER ID FIRST NAME LAST NAME                    COMPANY  \
2        3  d794Dd48988d2ac      Jenna   Harding               Bailey Group
60      61  aB3351247D3fCD8      Bruce      Bass  Day, Wiley and Mclaughlin
93      94  60d62d8Dbb23C3B        Don     Henry   Giles, Kerr and Stafford
94      95  e9eFc5d60ddc3ec     Dakota    Bowman                Gomez-Tapia
281    282  e5cC6aa0B9F6b68     Isaiah   Buckley               Davies-Hardy
515    516  b68E5a53fBb0C4A     Andrea    Dennis                 Kramer Ltd
757    758  2b6221ca8A40B98     Connie   Mercado  Weeks, Perez and Andersen

                 CITY COUNTRY                PHONE 1                PHONE 2  \
2        Moniquemouth   China     (335)987-3085x3780       001-680-204-8312
60         Juarezbury   China      170-094-5436x7579  +1-006-698-5103x18954
93        Marcusburgh   China  001-004-280-4158x3147    (718)053-0418x55398
94   West Barbarafurt   China        +1-707-196-7497             4793362473
281         Youngfurt   China  +1-562-432-0738x76444   +1-522-611-9078x2725
515       Colemanfurt   China      291.037.8984x1081   001-990-555-1905x268
757   New Vincentstad   China          (007)901-2759  +1-430-158-4106x96434

                                EMAIL SUBSCRIPTION DATE  \
2             justincurtis@pierce.org        2020-04-05
60                   gvang@woods.info        2020-08-10
93        diamondhinton@mccormick.biz        2020-10-18
94          branchmegan@dougherty.com        2022-04-17
281            haaszachary@holmes.com        2021-01-19
515  stephensonkevin@rojas-strong.com        2020-12-16
757     gallagherfrank@fitzgerald.com        2022-02-13

                         WEBSITE  SALARY
2    http://www.booth-reese.biz/   55990
60       http://www.goodwin.com/   73209
93           https://arnold.com/   71772
94     https://deleon-avery.com/   64112
281        https://www.lynn.com/   55920
515     https://boyd-giles.info/   85498
757        http://www.petty.biz/   31612

In [7]:
#Connect to the Database
DATABASE_TYPE = 'mysql'  # 'mysql', 'sqlite', etc.
DB_DRIVER = 'pymysql'        # Database driver
DB_USER = 'root'
DB_PASSWORD = '7098'
DB_HOST = 'localhost'
DB_PORT = '3306'
DB_NAME = 'trial'

#Construct the database URL
DATABASE_URL = f"{DATABASE_TYPE}+{DB_DRIVER}://{DB_USER}:{DB_PASSWORD}@{DB_HOST}:{DB_PORT}/{DB_NAME}"

# Create a database connection
engine = create_engine(DATABASE_URL)

# Step 4: Load Transformed Data into the Database
table_name = "transformed_data"  # Desired table name in the database
df.to_sql(table_name, con=engine, if_exists='replace', index=False)  # Overwrites table if exists

print(f"\nData has been loaded into the table '{table_name}' in the database.")

Data has been loaded into the table 'transformed_data' in the database.